.mixin.out/
.replay_cache/
1.12.2EC-C1-natives/
backups/
dumps/
Flan/
logs/
mods/
natives/
natives-windows-x86_64/
PCL/
rendered/
replay_recordings/
reports/
resourcepacks/Aether b1.7.3 Textures
resourcepacks/assets
Minecraft-Mod-Language-Modpack.zip
saves/
screenshots/
shaderpacks/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
1.12.2EC-C1.jar
1.12.2EC-C1.json
crafttweaker.log
dropt.log
hmclversion.cfg
log4j2.xml
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
patchouli_data.json
usercache.json
usernamecache.json
config/BiomeTweaker/output/