/.mixin.out
/.replay_cache
/1.12.2EC-C1-natives
/assets
/backups
/crash-reports
/dumps
/DynamX
/Flan
/logs
/modcore
/mods
/natives
/natives-windows-x86_64
/PCL
/rendered
/replay_recordings
/reports
/saves
/screenshots
/shaderpacks
/tmp
/XaeroWaypoints
/XaeroWaypoints_BACKUP32021
/XaeroWorldMap
/.abnormal
/1.12.2EC-C1.jar
/1.12.2EC-C1.json
/crafttweaker.log
/dropt.log
/hmclversion.cfg
/hs_err_pid29700.log
/log4j2.xml
/OpenComputersMod-1.7.5.192-lua52-native.64.dll
/OpenComputersMod-1.7.5.192-lua53-native.64.dll
/patchouli_data.json
/usercache.json
/usernamecache.json
/*
!/config/
!/kubejs/
!/local/
!/mts_music/
!/patchouli_books/
/resourcepacks/*
!/resourcepacks/A16x/*
!/resources/
!/scripts/
!/.gitignore
!/options.txt
!/optionsof.txt
!/optionsshaders.txt
!/README.md