# Configuration file

"custom text" {
    # Insert the text you want here (supports multiple lines). [default: [§4B§6E§eT§2T§3E§1R §5T§4I§6T§eL§2E §3S§1C§5R§4E§6E§eN]]
    S:Text <
        在新世纪的起点徘徊，
        在刺骨寒风中奄奄一息，
        在几乎不见人类踪迹的荒原踱步。
        空有万千技艺，却为活命愁。
        望长空，星河璀璨
        望大地，苍茫万里
        风起云涌，可知寄身何处？
        春日终将到来，曙光何时重现？
        整顿行囊，再走一番，无尽之路。
     >
}


general {
    # Show which version of Forge Mod Loader (FML) the client is running. [default: false]
    B:"Show FML version"=false

    # Show which version of Minecraft Forge the client is running. [default: false]
    B:"Show Forge version"=false

    # Show which version of Minecraft the client is currently running. [default: true]
    B:"Show MC version"=false

    # Show which version of Minecraft Coder Pack (MCP) the client is running. [default: false]
    B:"Show MCP version"=false

    # Show how many mods are loaded. [default: true]
    B:"Show mods loaded"=true
}


