general {
    # ----- Desert Eagle: Configuration ------
    
    # Base stats of the item
    D:Damage=15.0
    D:FireRate=0.2
    D:Recoil=9.0
    
    # Bullet drop-off
    D:GravityVelocity=0.02
    
    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Semi-Automatic Pistol
        Damage: 15
        Cartridge: .50 AE
        Fire Rate: SEMI
        Rate of Fire: 20/100
        Magazines:
        .50 AE 7rnd Magazine
     >
}