general {
    # ----- DP28: Configuration ------

    # Base stats of the item
    D:Damage=7.0
    D:FireRate=0.5
    D:Recoil=4.0

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Light Machine Gun
        Damage: 14
        Cartridge: 7.62x54mmR
        Fire Rate: SEMI, AUTO
        Rate of Fire: 50/100
        Magazines:
        47rnd 7.62x54mmR Magazine
     >
}