general {
    # ----- GL06: Configuration ------

    # Base stats of the item
    D:Damage=70.0
    D:FireRate=0.7
    D:Recoil=5.0

    # Bullet drop-off
    D:GravityVelocity=0.3

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Grenade Launcher
        Damage: 70
        Cartridge: 40mm Grenade
        Fire Rate: Semi
     >
}