general {
    # ----- MP7: Configuration ------
    
    # Base stats of the item
    D:Damage=5.0
    D:FireRate=0.9
    D:Recoil=1.0
    
    # Bullet drop-off
    D:GravityVelocity=0.0118
    
    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Sub Machine Gun/ Personal Defense Weapon/ Machine Pistol
        Damage: 5
        Cartridge: 4.6x30mm
        Fire Rate: SEMI, AUTO
        Rate of Fire: 90/100
        Magazines:
        40rnd 4.6x30mm HK Magazine
     >
}