general {
    # ----- NTW20: Configuration ------

    # Base stats of the item
    D:Damage=100.0
    D:FireRate=0.1
    D:Recoil=20.0

    # Bullet drop-off
    D:GravityVelocity=0.0

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Anti-Materiel Sniper Rifle
        Damage: 100
        Cartridge: 20x82mm
        Fire Rate: SEMI
        Rate of Fire: 10/100
        Magazines:
        3rnd 20x82mm Magazine
     >
}