# Configuration file

miningassist {
    # 启用挖掘辅助的有效物品。（如不指定，游戏将自动决定）
    # Note: If multiplayer, server-side only.
    S:effectiveItems <
     >

    # 挖掘辅助所需的矿工等级。 [range: 0 ~ 7, default: 2]
    # 0: 新手,
    # 1: 石级矿工,
    # 2: 铁级矿工,
    # 3: 超硝石级矿工,
    # 4: 金级矿工,
    # 5: 海蓝级矿工,
    # 6: 白钻石级矿工,
    # 7: 钻石级矿工
    I:minerRank=2

    # 是否应用实际化采矿。即不管一次挖掘多少方块，你只会获得一次采矿点数并计数一次采矿连击。
    # Note: If multiplayer, server-side only.
    B:actualMining=true

    # 是否收集掉落物。
    # Note: If multiplayer, server-side only.
    B:collectDrops=true

    # 是否收集经验。
    # Note: If multiplayer, server-side only.
    B:collectExps=true

    # 指定允许连锁挖掘的目标方块。（如果未指定，游戏将自动决定）
    # Note: If multiplayer, server-side only.
    S:quickTargetBlocks <
     >

    # 指定允许范围挖掘的目标方块。（如果未指定，游戏将自动决定）
    # Note: If multiplayer, server-side only.
    S:rangedTargetBlocks <
     >

    # 指定允许直线挖掘的目标方块。（如果未指定，游戏将自动决定）
    # Note: If multiplayer, server-side only.
    S:aditTargetBlocks <
     >

    # 是否优先于其他模式进行连锁挖掘。 [default: false]
    B:priorityQuickMining=false

    # 指定一次连锁挖掘能够破坏的最大方块数。 [range: 1 ~ 100, default: 30]
    # Note: If multiplayer, server-side only.
    I:quickMiningLimit=30

    # 指定范围挖掘的最大范围，即除去目标方块后的方块体半径大小。如设为 1 使范围为 3x3 ，设为 2 使范围为 5x5 ，以此类推。 [range: 1 ~ 10, default: 1]
    # Note: If multiplayer, server-side only.
    I:rangedMining=1

    # 是否为挖掘辅助启用修正后的硬度系统。 [default: true]
    B:modifiedHardness=true

    # 进入世界时是否在聊天栏显示当前的挖掘辅助类型。 [default: true]
    B:miningAssistNotify=true
}


